<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.ChatRecordMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.ChatRecord" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="send_user_id" property="sendUserId" jdbcType="VARCHAR" />
    <result column="receive_user_id" property="receiveUserId" jdbcType="VARCHAR" />
    <result column="message" property="message" jdbcType="VARCHAR" />
    <result column="sign_flag" property="signFlag" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <!-- 批处理更新消息状态为已签收 -->
  <update id="batchUpdateMsgSigned" parameterType="java.util.List">
    UPDATE chat_record
    SET sign_flag = 1
    WHERE id IN 
    <foreach collection="list" item="item" index="index" open="(" separator="," close=")">
      #{item}
    </foreach>
  </update>

</mapper>