<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.UsersExpandMapper" >

  <select id="queryFriendRequestList" resultType="com.imooc.pojo.vo.FriendRequestVO" parameterType="java.lang.String">
    SELECT sender.id AS sendUserId, sender.username AS sendUsername,
           sender.nickname AS sendNickname, sender.face_img AS sendUserFaceImg
    FROM friends_request fr
    LEFT JOIN users sender
    ON fr.send_user_id = sender.id
    WHERE fr.receive_user_id = #{id}
    ORDER BY fr.request_date_time DESC
  </select>

  <select id="queryMyFriends" resultType="com.imooc.pojo.vo.MyFriendsVO" parameterType="java.lang.String" >
    SELECT u.id AS friendUserId, u.username AS friendUsername,
           u.nickname AS friendNickname, u.face_img AS friendFaceImg
    FROM friends f
    LEFT JOIN users u
    ON f.friend_id = u.id
    WHERE f.user_id = #{id}
  </select>

</mapper>